<h1> Hello, and Welcome to BookKeeper </h1>
<h2> Welcome, <%=@user.username%> </h2> 
<h4> You can use BookKeeper to keep track of the books you have read. Use the links above to navigate the site. <h4> 

